body{
    background-color: #2f3640;
}

.navbar{
    background-color: #2f3640 !important;
    border-bottom: 1px solid #FFD700;
}
.nav-link{
    color: #FFD700 !important;
}
.nav-link:hover{
    border-bottom: 1px solid #FFD700 !important;
    color: white !important;
}
.ust{
    background-color: #474d55;
    height: 50px;
    color: #FFD700;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid #FFD700;
}
.dropdown-menu{
    background-color: #FFD700 !important;
    color: #2f3640;
    width: 30px;
}
.anagorsel img{
    width: 100%;
    height: 466px;
}
.btn-secondary{
    background-color: #FFD700 !important;
    color: #2f3640;
}

.faaliyet{
    color: #FFD700;
}
.bilgiler {
    color: #FFD700;
}
.projeler{
    color: #FFD700;
}
.kurumsal{
    color: #FFD700;
}
.iletisim{
    color: #FFD700;
}
.cizgi{
    background-color: #FFD700;
    width: 75px;
    height: 1px;
}
.card-title{
    color: #2f3640;
}
.card-body{
    background-color: #FFD700;
}

.card{
    opacity:0.8;
}
.card:hover{
    opacity: 1;
}
.accordion{
    background-color: #FFD700;
}
.btn-primary{
    background-color: #FFD700 !important;
    color: #2f3640 !important;
}
.alt-menu{
    
    background-color: #FFD700;
    width: 100%;
    line-height: 70px;
}
.alt-menu .nav-link{
    color: #2f3640 !important;
}
.alt-menu .nav-link:hover{
    color: #474d55 !important;
}
